ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aliceblue;
  left: 88px;
  top: 64px;
  border-radius: 2px;
  position: absolute;
  float: right;

  background: #ffffff;
  box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.1);
  border-radius: 2px;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: chartreuse;
}
.header {
  background-image: url("./images/paris1.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  position: absolute;
  left: 8.21%;
  right: 5.3%;
  top: 39.15%;
  bottom: 39.02%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;
  color: blue;

  letter-spacing: -0.015em;
}
p {
  position: absolute;
  left: 8.21%;
  right: 51.85%;
  top: 61.62%;
  bottom: 27.73%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: -0.015em;
}
#btn-header {
  position: absolute;
  left: 8.21%;
  right: 51.85%;
  top: 85.62%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.015em;
  background: #cd5a83;
  border-radius: 5px;
}
#fb {
  width: 46px;
  height: 44px;
}
.women-image {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
}

.text {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 95.08%;
  bottom: 1.81%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #0a92d6;
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: larger;
}
.icons {
  margin-left: 80%;
  font-size: large;
  color: #0a92d6;
}
